.container {
  display: inline-block;
  background: white;
  padding: 4px;
  border: 1px solid green;
}

.star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid red;
  border-left: 0.3em solid transparent;
  /* Controlls the size of the stars. */
  font-size: 24px;
}
.star:before,
.star:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid red;
  border-left: 1em solid transparent;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.star:after {
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
