/* add css module styles here (optional) */

.container {
  width: 100%;
  position: absolute;
  height: 100%;
  /* background-color: #fbf0dc; */
  background-color: #f2eecb;
  display: flex;
  flex-direction: column;
}
.zoomableContainer {
  border: 1px solid green;
  margin: 3px;
  padding: 3px;
  overflow: scroll;
  flex: 1;
}

.infiniteCanvas {
  overflow: hidden;
  width: 5760px;
  height: 3240px;
  background-color: greenyellow;
}
.container .heading {
  font-size: 2em;
  text-align: center;
}
