/* add css module styles here (optional) */

.container {
  width: 100%;
  position: absolute;
  height: 100%;
  /* background-color: #fbf0dc; */
  background-color: #f2eecb;
  display: flex;
  flex-direction: column;
}
.zoomableContainer {
  border: 1px solid green;
  margin: 3px;
  padding: 0px;
  overflow: scroll;
  flex: 1;
}

.zoom {
  transform: scale(1.05);
  left: 144px;
  top: 78px;
}

.infiniteCanvas {
  overflow: hidden;
  /* width: 5760px;
  height: 3240px; */
  width: 2200px;
  height: 1200px;

  background-color: #d0cbe6;
  position: relative;
}
.container .heading {
  font-size: 2em;
  text-align: center;
}
